USE [CarDB]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Car](
	[Car_ID] [int] IDENTITY(1,1) NOT NULL,
	[ModalName] [varchar](128) NOT NULL,
	[ImageURL] [varchar](256) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Car_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Translations](
	[Car_ID] [int] NULL,
	[Culture] [varchar](6) NOT NULL,
	[ProductName] [nvarchar](200) NOT NULL,
	[ProductDescription] [nvarchar](1024) NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Car] ON 

INSERT [dbo].[Car] ([Car_ID], [ModalName], [ImageURL]) VALUES (1, N'Mercedes-AMG A 45 S', N'https://assets.oneweb.mercedes-benz.com/bbd/images/v1/3679/e/51/5b48569fe4ee575565c7326a54904ce6217fc.png')
INSERT [dbo].[Car] ([Car_ID], [ModalName], [ImageURL]) VALUES (2, N'Mercedes C 300 Coupé', N'https://assets.oneweb.mercedes-benz.com/bbd/images/v1/3679/e/b3/f159c1ea41184f28be21161463f95d42bdb01.png')
INSERT [dbo].[Car] ([Car_ID], [ModalName], [ImageURL]) VALUES (3, N'Mercedes-AMG E 53', N'https://assets.oneweb.mercedes-benz.com/images/vmds/mvp/e-class_800_050_middle.png')
SET IDENTITY_INSERT [dbo].[Car] OFF
INSERT [dbo].[Product_Translations] ([Car_ID], [Culture], [ProductName], [ProductDescription]) VALUES (1, N'hi', N'मर्सिडीज-एएमजी ए 45 एस', N'भावनात्मक, चुस्त और डिजिटल: ए 35 4 मैटिक मर्सिडीज-एएमजी के साथ ड्राइविंग प्रदर्शन की दुनिया में पूरी तरह से एक नया प्रवेश स्तर का मॉडल पेश कर रहा है।')
INSERT [dbo].[Product_Translations] ([Car_ID], [Culture], [ProductName], [ProductDescription]) VALUES (2, N'hi', N'मर्सिडीज सी 300 कूप', N'नई C 300 कूपे ड्राइविंग मस्ती और एक आकर्षक अपील के साथ बहुत प्रभावित करती है: उच्च अंत प्रौद्योगिकियों और दृष्टिकोण के साथ एक नई गतिशील स्पोर्ट्स कार।')
INSERT [dbo].[Product_Translations] ([Car_ID], [Culture], [ProductName], [ProductDescription]) VALUES (3, N'hi', N'मर्सिडीज-एएमजी ई 53', N'मर्सिडीज-एएमजी व्यवस्थित रूप से अपनी ब्रांड पहचान को मजबूत करने के लिए जारी है: नए ई 53 4 एमएटीआईसी + कूपे और कैब्रियोलेट को अब ऊर्ध्वाधर एएमजी-विशिष्ट रेडिएटर ग्रिल के साथ ऊर्ध्वाधर लॉरेज भी दिया गया है। उनके ए-आकार के डिजाइन और चापलूसी वाले ऑल-एलईडी हेडलैम्प्स एक चौड़ाई-बल, शक्तिशाली प्रभाव पैदा करते हैं।')
